html
    title TODO supply a title
    body
    a(href='/logout') log out
    <br>
    <br>
    a(href='/post') create a post
    <br>
    <br>
    a(href='/wall') view all posts
    <br>
    <br>
    a(href='/ownpost') view own post