html
    a(href='/') go to index
    <br>
    a(href='/login') go to login
    body
        form(name="register" method="post", action="/register")
            input(type="text" placeholder="username" name="username")
            input(type="text" placeholder="password" name="password")
            input(type="text" placeholder="email" name="email")
            input(type="submit" value="register")